# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# env files
.env*

#scripts
scripts/setup-local-env.sh
scripts/check-services.sh
scripts/setup-local-dynamodb.sh
scripts/generate-prisma-client.sh
scripts/fix-kafka-topics.sh

#ecs
ecs/task-definitions/*
ecs/service-definitions/*
ecs/cluster-definitions/*
ecs/security-group-definitions/*
ecs/subnet-definitions/*
ecs/vpc-definitions/*
ecs/load-balancer-definitions/*
ecs/target-group-definitions/*
ecs/listener-definitions/*
ecs/listener-rule-definitions/*

#docs
docs/*
